.header-container {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}

.logo{
    width: 100px; 
}

.nav-items ul {
    display: flex;
    list-style: none;
    padding: 0 20px;
}  

.nav-items li {
   padding: 10px;
   margin: 10px;
   font-size: 20px;
}

.search-container {
    display: flex;
    margin: 15px 0;
}

.order-type ul{
    list-style: none;
    display: flex;
    margin: 0;
}

.order-type li {
    margin: 0 10px;
    font-size: 18px;
}

.rest-container {
   display: flex;
   flex-wrap: wrap;
}

.rest-card {
   background-color: aliceblue;
   padding: 5px;
   margin: 10px 10px 10px 0;
   width: 150px;
   height: 300px;
}

.rest-card:hover {
    border: 1px solid black;
}

.rest-img{
    width: 100%;
    height: 120px;
}

.body {
    /* border: 1px solid black; */
    padding: 5px;
}