.header-container {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}

.logo{
    width: 100px; 
}

.nav-items ul {
    display: flex;
    list-style: none;
    padding: 0 20px;
}  

.nav-items li {
   padding: 10px;
   margin: 10px;
   font-size: 20px;
}

.search-container {
    display: flex;
    margin: 15px 0;
    gap: 25px;
}

.order-type ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;  
    gap: 20px;
}

.order-type li {
    font-size: 18px;
}

.filter-container :hover {
   cursor: pointer;
}

.rest-container {
   display: flex;
   flex-wrap: wrap;
}

.rest-card {
   background-color: aliceblue;
   padding: 5px;
   margin: 10px 10px 10px 0;
   width: 200px;
   height: 350px;
}

.rest-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.rest-img{
    width: 100%;
    height: 120px;
}

.body {
    /* border: 1px solid black; */
    padding: 5px;
}

.shimmer-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
   background-color: aliceblue;
   padding: 5px;
   margin: 10px 10px 10px 0;
   width: 200px;
   height: 350px;
}

.user-card {
    padding: 5px;
    border: 1px solid black;
}

.user-img {
    width: 100px;
    height: 100px;
}